/* Style sheet containing CSS for the Tringks and Rings webpage */

/* Font Style  */

.archivo-narrow- bold {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.david-libre-regular {
  font-family: "David Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.david-libre-medium {
  font-family: "David Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.david-libre-bold {
  font-family: "David Libre", serif;
  font-weight: 700;
  font-style: normal;
}



/* Styles */

/* CSS Variables */
*{
  color: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --secondary-font: "David Libre", serif;
  --primary-color: lightcyan;
  --secondary-color: #591680;
  --highlight-color-light: #a795fb;
  --highlight-color: #8067d6; 
  --alt-color: #b1b4fc; 
  

}

h1, h2, h3, p {
  font-family: "Archivo Narrow", serif;
  text-transform: uppercase;
}

#navbar {
  background-color: var(--primary-color)
}

/* header {
    background-color: lightcyan;
    height: 50px;
    padding: 0 .5rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
} */

main{
    background-color: #fafafa;
    height: 400px;
}

footer {
    background-color: lightseagreen;
    height: 100px;
}



#logo{
    
    /* position:fixed; */
    flex-basis: 300px;
    
    padding-top: 10px;
    flex-grow: 1;
   
    height: fit-content;
    /* background-color: lightslategray; */
    color: var(--secondary-color);
    text-size-adjust: 110%;
    font-weight: 700;
    font-weight: bold;
 

}

/* .page-icon {
    
    position: absolute;
    left: 90%;
    top: 10px;

} */

