/* Style sheet containing CSS for the Tringks and Rings webpage */

/* Font Style  */

.archivo-narrow- bold {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.david-libre-regular {
  font-family: "David Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.david-libre-medium {
  font-family: "David Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.david-libre-bold {
  font-family: "David Libre", serif;
  font-weight: 700;
  font-style: normal;
}



/* Styles */

/* CSS Variables */
*{
  color: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-font: "Archivo Narrow", sans-serif;
  --secondary-font: "David Libre", serif;
  --primary-color: lightcyan;
  --secondary-color: #591680;
  --highlight-color-light: #a795fb;
  --highlight-color: #8067d6; 
  --alt-color: #b1b4fc; 
  --primary-footer-color: #000000;
  

}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* .container, 
.row {
  border: 2px solid black;
}

.col-12{
  border: 2px white solid;
  background-color: lightgray;
}

.col-6{ 
  border: 2px white solid;
  background-color: azure;
} */

h1, h2, h3, p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  text-transform: uppercase;
}

h2 {
  font-size: 300%;
  line-height: 120%;
  font-weight: 900;
}

p {
  font-family: var(--primary-font);
  font-weight: 400;
  text-transform: capitalize;
}

/* Navigation bar */
#navbar {
  background-color: #a795fb;
  font-family: var(--primary-font);
  font-weight: 700;
  color: black;
  font-size: 110%;
}


/* header {
    background-color: lightcyan;
    height: 50px;
    padding: 0 .5rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
} */


/* Header */

#site-hero-image {
  height: auto;
  width: 100%;
}

/* Main */
main{
    background-color: #fafafa;

}

#product-cards{
  margin-bottom: 5px;
}



#site-logo{
  
  width: 50px;
  display: inline-block;
}



#logo{
    
    /* position:fixed; */
    display: inline-block;
    flex-basis: 100px;
    
    padding-top: 10px;
    flex-grow: 1;
   
    height: fit-content;
    /* background-color: lightslategray; */
    color: var(--secondary-color);
    text-size-adjust: 110%;
    font-weight: 700;
    font-weight: bold;
}


/* Product Section */

.product-list {
  border: 2px solid black;
  font-family: var(--primary-font);

}

/* .product-list .card .card-img-top1 {
  border: 2px solid red;
  flex-grow: calc();
  
} */

.product-price {
  text-transform: uppercase;
  font-weight: 400;
}

.alternative-materials-description {
  color: #5d5c5e;
}

.hidden {
  visibility: collapse;
}

.product-text {
  --bs-list-group-border-width: 0 ; 
}

.product-card {
  margin-bottom: 10px;
}


/* .page-icon {
    
    position: absolute;
    left: 90%;
    top: 10px;

} */

/* Footer */

footer {
    background-color: lightseagreen;
    /* height: 100px; */
    
}

footer>section{
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-title {
  width: fit-content;
  align-self: center;
}
#footer-logo{
  width: 200px;
  
}

/* Social Links */

.social-links {
  margin-right: 2px;
  color: var(--secondary-color);
}

.social-links > a {
  margin-right: 20px;
  justify-content: space-between;
  color: var(--secondary-color);
}

#contact.social-links {
  size-adjust: 200%;
}
#address {
  color: var(--primary-footer-color); 
  width: fit-content;
  text-align: left;
}
#contact #copyright {
  color: var(--primary-footer-color);
}
#contact p {
  color:var(--primary-footer-color);
}


/* --- About us page styles --- */


/* #about-us{
display: flex;
border: 10px solid black;

} */

.contact-box {
  width: 50%;
  border: 2px solid #000000;
}

#about-us-background {
  background-image: url(../images/gallery-pictures/dwayne-joe-man-hands-with-ring-unsplash.jpg);
  background-size: contain;
  min-height: 50vh;
}


/* #about-us{
    background-image: url(../images/jay-soundo-WadmDYk2Gvo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
    justify-content:baseline;
     

} */

#about-us {
  /* margin-top: 10px; */
  min-height: 40vh;
}

#about-us-text {
  margin-top: 40vh;
}

#contact-us {
  min-height: 40vh 
}



/*--- Gallery page Styles --- */

#gallery-wall {
 
display: flex;
flex-wrap: wrap;


}
#gallery-wall img {
  width: 350px;
  height: fit-content;
}

/* Media Querries */

@media screen and (max-width: 556px) {

  .footer-text {
    justify-content: flex-end;

  }

    .footer-title {
   justify-content: center;
  }
  
}

@media screen and (max-width: 768px) {


  
}